/* Montserrat add */
@font-face { font-family: 'Montserrat', sans-serif; }
/* Roboto add */
@font-face { font-family: 'Roboto', sans-serif; }
* { margin: 0; padding: 0; outline: 0; }

* { box-sizing: border-box; }

body { background-color: #ffffff; color: #333333; font-family: 'Poppins', sans-serif; }

/*a:hover {text-decoration: none;}*/
button { cursor: pointer; }

a:focus, button, button:focus, input, input:focus, textarea, textarea:focus { outline: 0; }

a, h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 28px; }

h4 { font-size: 24px; }

h5 { font-size: 20px; }

h6 { font-size: 18px; }

img { height: auto; max-width: 100%; }

ul { margin: 0; padding: 0; list-style-type: none; }

/*Input Placeholder*/
*::-moz-placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

*::placeholder { color: #1c1c21; font-size: 14px; opacity: 1; }

/*Content Selection*/
*::-moz-selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

*::selection { background: #1c1c21; color: #ffffff; text-shadow: none; }

/*BG Color*/
.bg-black { background-color: #151515; }

.bg-blue { background-color: #0066ff; }

.bg-gray { background-color: #6c757d; }

/* Margin Classes */
/*Margin Top*/
.mt-10 { margin-top: 10px; }

.mt-15 { margin-top: 15px; }

.mt-20 { margin-top: 20px; }

.mt-25 { margin-top: 25px; }

.mt-30 { margin-top: 30px; }

.mt-35 { margin-top: 35px; }

.mt-40 { margin-top: 40px; }

.mt-45 { margin-top: 45px; }

.mt-50 { margin-top: 50px; }

.mt-70 { margin-top: 70px; }

/*Margin Right*/
.mr-10 { margin-right: 10px; }

.mr-15 { margin-right: 15px; }

.mr-20 { margin-right: 20px; }

.mr-25 { margin-right: 25px; }

.mr-30 { margin-right: 30px; }

.mr-35 { margin-right: 35px; }

.mr-40 { margin-right: 40px; }

.mr-45 { margin-right: 45px; }

.mr-50 { margin-right: 50px; }

/*Margin Bottom*/
.mb-10 { margin-bottom: 10px; }

.mb-15 { margin-bottom: 15px; }

.mb-20 { margin-bottom: 20px; }

.mb-25 { margin-bottom: 25px; }

.mb-30 { margin-bottom: 30px; }

.mb-35 { margin-bottom: 35px; }

.mb-40 { margin-bottom: 40px; }

.mb-45 { margin-bottom: 45px; }

.mb-50 { margin-bottom: 50px; }

/*Margin Left*/
.ml-10 { margin-left: 10px; }

.ml-15 { margin-left: 15px; }

.ml-20 { margin-left: 20px; }

.ml-25 { margin-left: 25px; }

.ml-30 { margin-left: 30px; }

.ml-35 { margin-left: 35px; }

.ml-40 { margin-left: 40px; }

.ml-45 { margin-left: 45px; }

.ml-50 { margin-left: 50px; }

/* Padding Classes */
/*Padding Top*/
.pt-10 { padding-top: 10px; }

.pt-15 { padding-top: 15px; }

.pt-20 { padding-top: 20px; }

.pt-25 { padding-top: 25px; }

.pt-30 { padding-top: 30px; }

.pt-35 { padding-top: 35px; }

.pt-40 { padding-top: 40px; }

.pt-45 { padding-top: 45px; }

.pt-50 { padding-top: 50px; }

.pt-55 { padding-top: 55px; }

.pt-60 { padding-top: 60px; }

.pt-65 { padding-top: 65px; }

.pt-70 { padding-top: 70px; }

.pt-75 { padding-top: 75px; }

.pt-80 { padding-top: 80px; }

.pt-85 { padding-top: 85px; }

.pt-90 { padding-top: 90px; }

.pt-95 { padding-top: 95px; }

/*Padding Right*/
.pr-10 { padding-right: 10px; }

.pr-15 { padding-right: 15px; }

.pr-20 { padding-right: 20px; }

.pr-25 { padding-right: 25px; }

.pr-30 { padding-right: 30px; }

.pr-35 { padding-right: 35px; }

.pr-40 { padding-right: 40px; }

.pr-45 { padding-right: 45px; }

.pr-50 { padding-right: 50px; }

.pr-55 { padding-right: 55px; }

.pr-60 { padding-right: 60px; }

.pr-65 { padding-right: 65px; }

.pr-70 { padding-right: 70px; }

.pr-75 { padding-right: 75px; }

.pr-80 { padding-right: 80px; }

.pr-85 { padding-right: 85px; }

.pr-90 { padding-right: 90px; }

.pr-95 { padding-right: 95px; }

/*Padding Bottom*/
.pb-10 { padding-bottom: 10px; }

.pb-15 { padding-bottom: 15px; }

.pb-20 { padding-bottom: 20px; }

.pb-25 { padding-bottom: 25px; }

.pb-30 { padding-bottom: 30px; }

.pb-35 { padding-bottom: 35px; }

.pb-40 { padding-bottom: 40px; }

.pb-45 { padding-bottom: 45px; }

.pb-50 { padding-bottom: 50px; }

.pb-55 { padding-bottom: 55px; }

.pb-60 { padding-bottom: 60px; }

.pb-65 { padding-bottom: 65px; }

.pb-70 { padding-bottom: 70px; }

.pb-75 { padding-bottom: 75px; }

.pb-80 { padding-bottom: 80px; }

.pb-85 { padding-bottom: 85px; }

.pb-90 { padding-bottom: 90px; }

.pb-95 { padding-bottom: 95px; }

/*Padding Left*/
.pl-10 { padding-left: 10px; }

.pl-15 { padding-left: 15px; }

.pl-20 { padding-left: 20px; }

.pl-25 { padding-left: 25px; }

.pl-30 { padding-left: 30px; }

.pl-35 { padding-left: 35px; }

.pl-40 { padding-left: 40px; }

.pl-45 { padding-left: 45px; }

.pl-50 { padding-left: 50px; }

.pl-55 { padding-left: 55px; }

.pl-60 { padding-left: 60px; }

.pl-65 { padding-left: 65px; }

.pl-70 { padding-left: 70px; }

.pl-75 { padding-left: 75px; }

.pl-80 { padding-left: 80px; }

.pl-85 { padding-left: 85px; }

.pl-90 { padding-left: 90px; }

.pl-95 { padding-left: 95px; }

.custom-btn { background-color: #ffcd05; color: green; font-size: 12px; font-family: "Montserrat", sans-serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; border: none; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: transparent; }

h1 { font-style: normal; font-size: 48px; font-family: "Montserrat", sans-serif; font-weight: 700; line-height: 1.2; text-transform: uppercase; }

h2 { font-style: normal; font-size: 30px; font-family: "Montserrat", sans-serif; font-weight: 700; line-height: 1.3; text-transform: uppercase; }

h3 { font-style: normal; font-size: 20px; font-family: "Montserrat", sans-serif; font-weight: 400; line-height: 1; text-transform: uppercase; }

h4 { font-size: 18px; font-family: "Roboto", sans-serif; font-style: normal; font-weight: 300; line-height: 1.3; }

h5 { font-size: 16px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; color: #cccccc; }

h6 { font-size: 15px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; color: #cccccc; }

p { font-size: 17px; font-family: "Roboto", sans-serif; font-weight: 300; font-style: normal; color: #555555; }

[class^="pe-7s-"], [class*=" pe-7s-"] { display: inline-block; }

/* ========================================================================== >  start header ========================================================================== */
.header .navbar-fixed-top { position: fixed; right: 0; left: 0; background-color: #ffffff; z-index: 9999; }
.header .navbar-fixed-top { position: fixed; right: 0; left: 0; background-color: #ffffff; z-index: 9999; }
.header .header-up { background-color: black; padding: 3px 0; }
.header .header-down .header-down-left { background-color: white; }
.header .header-down .header-down-right { background-color: black; height: 30px; }
.header .header-down .header-down-right .fa { margin-left: 45px; color: #ffcd05; }
.header .header-down .header-down-right:before { content: ''; position: absolute; width: 0; height: 0; border-left: 25px solid transparent; border-right: 25px solid transparent; border-bottom: 50px solid white; margin-left: -40px; margin-top: -1px; }
.header .header-down .header-down-right a { margin-left: 12px; }
.header .header-down a { font-size: 14px; font-family: "Montserrat", sans-serif; font-weight: 400; color: #cccccc; text-decoration: none; cursor: pointer; }
.header .navbar { margin-top: -25px; }
.header .navbar-nav li { padding: 0px 15px 0px 15px; }
.header .navbar-nav li > a { font-size: 14px; font-family: "Montserrat", sans-serif; color: rgba(153, 153, 153, 0.902); text-transform: uppercase; }
.header .navbar-nav .nav-link:hover { color: #ffcd05; border-bottom: 2px solid #ffcd05; }
.header .topheader .navbar-nav li.active > .nav-link { color: #000000; font-weight: 700; border-bottom: 2px solid #ffcd05; }

.social-icon li { padding: 0px 3px 0px 3px; }

/* ========================================================================== > start banner section ========================================================================== */
.banner { min-height: 280px; }
.banner h1 { padding-top: 100px; }

/* ========================================================================== >  start services-menu-area ========================================================================== */
.service-menu-area { background-color: #111111; position: relative; border-bottom: 5px solid #ffcd05; }

.single-support:not(:last-child) { margin-right: 0; }

.single-support { position: relative; width: 120px; padding: 10px 0px 10px 0px; box-sizing: border-box; transition: all .2s; text-align: center; margin: 0; border-right: 1px solid #333333; }
.single-support:first-child { border-left: 1px solid #333333; }
.single-support:hover { background-color: #FFCD05; transition: all .2s; }
.single-support:hover .support-icon .icon img:nth-child(2) { opacity: 1; }

.support-icon { position: relative; line-height: 1.5; }
.support-icon .content { color: #ffffff; font-size: 14px; font-weight: 400; font-family: "Montserrat", sans-serif; text-decoration: none; text-transform: uppercase; min-height: 70px; margin-top: -10px; padding: 0px 5px 0px 5px; }
.support-icon a { position: relative; display: inline-block; vertical-align: middle; text-decoration: none; }
.support-icon a .icon { position: relative; display: inline-block; vertical-align: middle; margin-top: 10px; }
.support-icon a .icon img { -webkit-transition: all .2s ease; -moz-transition: all .2s ease; transition: all .2s ease; margin: 0 auto; }
.support-icon a .icon img:nth-child(2) { opacity: 0; position: absolute; left: 0; top: 0; height: 100%; width: 100%; object-fit: contain; }

#single-support-active .active { background-color: #ffcd05; }
#single-support-active .active .support-icon .icon img:nth-child(2) { opacity: 1; }
#single-support-active .active .content { color: #000000; }

/* ========================================================================== > start storm-water ========================================================================== */
.storm-water { margin: 74px 0; }

/* ========================================================================== > start next-project ========================================================================== */
.next-project h4 { color: #787878; margin-top: -30px; padding: 0px 0px 41px 0px; }

/* ========================================================================== >  start blog ========================================================================== */
.blog .card { border: none; }
.blog h2 { padding: 40px 0px 25px 0px; }
.blog img:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* ========================================================================== > start footer ========================================================================== */
.footer { background-color: #111111; padding: 90px 0px 100px 0px; }
.footer a:hover { color: #ffcd05; }
.footer ul > li a { text-decoration: none; color: #cccccc; }
.footer h3 { color: #dddddd; margin-bottom: 30px; }
.footer .get-in-touch { line-height: 1.9; }
.footer .get-in-touch .fa { color: #ffcd05; }
.footer .get-in-touch a { padding-left: 10px; }
.footer .quick-link, .footer .services { line-height: 1.9; font-size: 15px; }
.footer .quick-link ul > li, .footer .services ul > li { position: relative; }
.footer .quick-link ul > li:before, .footer .services ul > li:before { font-family: FontAwesome; content: "\f105"; width: 24px; position: absolute; left: 0; color: #ffcd05; }
.footer .quick-link ul > li a, .footer .services ul > li a { margin-left: 15px; display: block; }
.footer .quick-link { padding-left: 50px; }

.container { max-width: 1176px; }

h2 { padding-bottom: 40px; }

.margin-bottom { margin-bottom: 74px; }

.section__content { margin-bottom: 30px; }

.fa:hover { color: red; }

.fa-facebook, .fa-instagram { padding: 10px 15px 10px 15px; margin: 35px 0; background-color: #ffcd05; color: #000000; }

.navbar-toggler { background-color: #ffcd05; }

.contact-us-btn { background-color: #ffcd05; color: #000000; font-size: 0px; font-family: "Montserrat", sans-serif; font-weight: 400; width: auto; border: 1px solid #ffcd05; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 0px auto 0 auto; padding: 14px 50px 14px 50px; font-size: 14px; display: inline-block; font-weight: 700; }
.contact-us-btn:hover, .contact-us-btn:focus { background-color: #ffcd05; color: #ffffff; border-color: transparent; }

.top-title { border-top: 3px solid #ffcd05; width: 50px; margin-bottom: 41px; margin-top: 70px; }

.top-title-blog { border-top: 3px solid #ffcd05; width: 50px; margin-top: 35px; }

.neighbours-project-common { background-color: #111111; padding: 65px 0; }
.neighbours-project-common h2 { color: #ffffff; padding: 41px 0px 41px 0px; }

.img-fluid { width: 100%; height: auto; }
.img-fluid:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@media (max-width: 575.98px) { h2 { font-size: 19px; }
  .footer .quick-link { padding-left: 0px; }
  .header .navbar { margin-top: 0px; }
  .top-title { margin-top: 41px; }
  .header .header-down .header-down-right .fa { margin-left: 15px; }
  .header .header-up { margin-bottom: -17px; }
  .footer h3 { margin-top: 30px; }
  .header .header-down .header-down-right { height: auto; padding: 12px; }
  .header .header-down .header-down-right:before { display: none; } }
@media (min-width: 576px) and (max-width: 767.98px) { h2 { font-size: 19px; }
  .footer .quick-link { padding-left: 0px; }
  .header .navbar { margin-top: 0px; }
  .top-title { margin-top: 41px; }
  .header .header-down .header-down-right .fa { margin-left: 15px; }
  .header .header-up { margin-bottom: -17px; }
  .header .navbar-header { margin-top: 0px; }
  .footer h3 { margin-top: 30px; }
  .header .header-down .header-down-right { height: auto; padding: 12px; }
  .header .header-down .header-down-right:before { display: none; } }
@media (min-width: 768px) and (max-width: 991.98px) { .footer .quick-link { padding-left: 0px; }
  .header .navbar { margin-top: 0px; }
  .top-title { margin-top: 41px; }
  .header .header-down .header-down-right .fa { margin-left: 15px; }
  .header .header-up { margin-bottom: -17px; }
  .header .navbar-header { margin-top: 0px; }
  .footer h3 { margin-top: 30px; }
  .header .header-down .header-down-right { height: auto; padding: 12px; }
  .header .header-down .header-down-right:before { display: none; } }

/*# sourceMappingURL=style.css.map */
