$white: #ffffff;
$black: #000000;
$dark-yellow:#ffcd05;
$red:red;
$transparent:transparent;

$base-font-size:14px;
$line-height: 1.429;


$montserrat:'Montserrat', sans-serif;
$roboto:'Roboto', sans-serif;
$thin:100;
$extra-light:200;
$light:300;
$regular:400;
$bold:700;
$semi-bold:600;
$medium:500;
$extra-bold:800;
