.container{
  max-width: 1176px;
}
h2{
  padding-bottom:40px;
}
.margin-bottom{
  margin-bottom: 74px;
}
.section__content{
  margin-bottom:30px;
}
.fa:hover{
  color:$red;
}
%social-icon{
  padding:10px 15px 10px 15px;
  margin:35px 0;
  background-color: $dark-yellow;
  color:$black;
}
.fa-facebook{
  @extend %social-icon;
}
.fa-instagram{
  @extend %social-icon;
}
.navbar-toggler{
  background-color:$dark-yellow;
}
.contact-us-btn{
  @include btn($dark-yellow, $black, 0px, $montserrat, $regular, auto, $dark-yellow, $dark-yellow, $white, #FFEF44);
  margin: 0px auto 0 auto;
  padding: 14px 50px 14px 50px;
  font-size: 14px;
  display: inline-block;
  font-weight: $bold;
}
.top-title{
  border-top:3px solid $dark-yellow;
  width: 50px;
  margin-bottom: 41px;
  margin-top: 70px;
}
.top-title-blog{
  border-top:3px solid $dark-yellow;
  width: 50px;
  margin-top:35px;
}
.neighbours-project-common{
  background-color: #111111;
  padding:65px 0;
  h2{
    color:$white;
    padding:41px 0px 41px 0px;
  }
}
.img-fluid{
  width: 100%;
  height:auto;
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
