
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h2{
    font-size: 19px;
  }
  .footer .quick-link {
    padding-left: 0px;
  }
  .header .navbar {
    margin-top: 0px;
  }
  .top-title {
    margin-top: 41px;
  }
  .header .header-down .header-down-right .fa {
    margin-left: 15px;
  }
  .header .header-up {
    margin-bottom: -17px;
  }
  .footer{
    h3{
      margin-top: 30px;
    }
  }
  .header .header-down .header-down-right{
    height:auto;
    padding:12px;
    &:before{
      display:none;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  h2{
    font-size: 19px;
  }
  .footer .quick-link {
    padding-left: 0px;
  }
  .header .navbar {
    margin-top: 0px;
  }
  .top-title {
    margin-top: 41px;
  }
  .header .header-down .header-down-right .fa {
    margin-left: 15px;
  }
  .header .header-up {
    margin-bottom: -17px;
  }
  .header{
    .navbar-header{
      margin-top:0px;
    }
  }
  .footer{
    h3{
      margin-top: 30px;
    }
  }
  .header .header-down .header-down-right{
    height:auto;
    padding:12px;
    &:before{
      display:none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .quick-link {
    padding-left: 0px;
  }
  .header .navbar {
    margin-top: 0px;
  }
  .top-title {
    margin-top: 41px;
  }
  .header .header-down .header-down-right .fa {
    margin-left: 15px;
  }
  .header .header-up {
    margin-bottom: -17px;
  }
  .header{
    .navbar-header{
      margin-top:0px;
    }
  }
  .footer{
    h3{
      margin-top: 30px;
    }
  }
  .header .header-down .header-down-right{
    height:auto;
    padding:12px;
    &:before{
      display:none;
    }
  }
}



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// specific device targer
@media (min-width: 360px) and (max-width: 640px) {

}