/* ==========================================================================
  >  start header
  ========================================================================== */
.header{
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    background-color: $white;
    z-index: 9999;
  }
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    background-color: $white;
    z-index: 9999;
  }
  .header-up {
    background-color: black;
    padding: 3px 0;
  }
  .header-down{
    .header-down-left{
      background-color: white;
    }
    .header-down-right{
      background-color:black;
      height:30px;
      .fa{
        margin-left:45px;
        color:$dark-yellow;
      }
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid white;
        margin-left: -40px;
        margin-top: -1px;
      }
      a{
        margin-left:12px;
      }
    }
    a{
      font-size: 14px;
      font-family:$montserrat;
      font-weight: $regular;
      color: rgb(204, 204, 204);
      text-decoration: none;
      cursor: pointer;
    }
  }
  .navbar{
    margin-top:-25px;
  }
  .navbar-nav{
    li{
      padding:0px 15px 0px 15px;
    }
    li>a{
      font-size: 14px;
      font-family:$montserrat;
      color: rgba(153, 153, 153, 0.902);
      text-transform: uppercase;
    }
  }
  .navbar-nav .nav-link:hover{
    color:$dark-yellow;
    border-bottom: 2px solid $dark-yellow;
  }
  .topheader .navbar-nav li.active > .nav-link {
    color:$black;
    font-weight: $bold;
    border-bottom: 2px solid $dark-yellow;
  }
}
.social-icon{
  li{
    padding:0px 3px 0px 3px;
  }
}
/* ==========================================================================
  > start banner section
  ========================================================================== */
.banner{
  min-height: 280px;
  h1{
    padding-top: 100px;
  }
}
/* ==========================================================================
  >  start services-menu-area
  ========================================================================== */
.service-menu-area{
  background-color: #111111;
  position: relative;
  border-bottom: 5px solid $dark-yellow;
}
.single-support:not(:last-child){
  margin-right: 0;
}
.single-support {
  position: relative;
  width: 120px;
  padding:10px 0px 10px 0px;
  box-sizing: border-box;
  transition: all .2s;
  text-align: center;
  margin: 0;
  border-right:1px solid #333333;
  &:first-child{
border-left:1px solid #333333;
  }
  &:hover {
    background-color: #FFCD05;
    transition: all .2s;
  }
  &:hover .support-icon .icon img:nth-child(2) {
    opacity: 1;
  }
}

.support-icon {
  position: relative;
  line-height: 1.5;
  .content{
    color:$white;
    font-size: 14px;
    font-weight: $regular;
    font-family: $montserrat;
    text-decoration: none;
    text-transform: uppercase;
    min-height: 70px;

    margin-top: -10px;
    padding:0px 5px 0px 5px;
  }
  a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    .icon{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
    }

    .icon img {
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;
      margin: 0 auto;
      &:nth-child(2) {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

#single-support-active .active{
  background-color: $dark-yellow;
  .support-icon .icon img:nth-child(2){
    opacity:1;
  }
  .content{
    color:$black;
  }
}
/* ==========================================================================
  > start storm-water
  ========================================================================== */
.storm-water{
  margin: 74px 0;
}
/* ==========================================================================
  > start next-project
  ========================================================================== */
.next-project{
  h4{
    color:#787878;
    margin-top: -30px;
    padding:0px 0px 41px 0px;
  }
}
/* ==========================================================================
  >  start blog
  ========================================================================== */
.blog{
  .card{
    border:none;
  }
  h2{
    padding: 40px 0px 25px 0px;
  }
  img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
/* ==========================================================================
  > start footer
  ========================================================================== */
.footer{
  background-color: #111111;
  padding:90px 0px 100px 0px;
  a:hover{
    color:$dark-yellow;
  }
  ul>li a{
    text-decoration: none;
    color: rgb(204, 204, 204);
  }
  h3{
    color:#dddddd;
    margin-bottom: 30px;
  }
  .get-in-touch{
    line-height: 1.9;
    .fa{
      color:$dark-yellow;
    }
    a{
     padding-left:10px;
    }
  }
  %content{
    line-height: 1.9;
    font-size:15px;
    ul>li{
      position: relative;
      &:before {
        font-family: FontAwesome;
        content: "\f105";
        width: 24px;
        position: absolute;
        left: 0;
        color:$dark-yellow;
      }
      a{
        margin-left: 15px;
        display: block;
      }
    }
  }
  .quick-link{
    @extend %content;
    padding-left: 50px;
  }
  .services{
    @extend %content;
  }
}